<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 수정</title>
</head>
<body>
<h1>상품 수정</h1>

<form th:action="@{/api/admin/products/edit/{id}(id=${product.id})}" th:object="${product}" method="post">
    <label>상품명: <input type="text" th:field="*{name}"/></label><br>
    <label>가격: <input type="number" th:field="*{price}"/></label><br>
    <label>이미지: <input type="text" th:field="*{url}"/></label><br>
    <button type="submit">저장</button>
</form>

<a th:href="@{/api/admin/products}"><- 목록으로 돌아가기</a>
</body>
</html>