<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>상품 등록</title>
</head>
<body>
<h1>상품 등록</h1>
<form th:action="@{/admin/products-add}" method="post">
    <div>
        <label>이름: <input type="text" name="name" /></label>
    </div>
    <div>
        <label>가격: <input type="number" name="price" /></label>
    </div>
    <div>
        <label>이미지 URL: <input type="text" name="imageUrl" /></label>
    </div>
    <div>
        <button type="submit">등록</button>
        <a th:href="@{/admin}">취소</a>
    </div>
</form>
</body>
</html>
