<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 목록</title>
</head>
<body>
<h1 style="display: flex; justify-content: center; align-items: center; margin-top: 40px">상품 목록</h1>
<table style="display: flex; justify-content: center; align-items: center">
    <tr>
        <th>상품명</th>
        <th>상품 가격</th>
        <th>상품 사진</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.name}">상품명</td>
        <td th:text="${product.price}">상품 가격</td>
        <td><img th:src="${product.imageUrl}" alt="사진"></td>
    </tr>
</table>
<br>
<a th:href="@{/admin/products/add}" style="display: flex; justify-content: center; align-items: center">상품 추가</a>
</body>
</html>
