<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<nav>
  <ul>
    <li><a th:href="@{/products}">전체 상품 조회하기</a></li>
    <li><a th:href="@{templates/form.html}">상품 등록하기</a></li>
  </ul>
</nav>

<table>

  <thead>
  <tr>
    <th>상품ID</th>
    <th>상품명</th>
    <th>가격</th>
    <th>이미지</th>
  </tr>
  </thead>

  <tbody>
  <tr th:each="product : ${productList}">
    <td th:text="${product.id}"></td>
    <td th:text="${product.name}"></td>
    <td th:text="${product.price}"></td>
    <td><img th:src="${product.imageUrl}" width="100px" alt = "상품 이미지"></td>
  </tr>
  </tbody>
</table>

<form action="/products" method="post">
  <p>
    상품 등록하기
  </p>
  <p>
    <strong>상품명</strong>
    <input type="text" name="name" placeholder="상품명 입력">
  </p>
  <p>
    <strong>가격</strong>
    <input type="number" name="price" placeholder="상품 가격 입력">
  </p>
  <p>
    <strong>이미지 주소</strong>
    <input type="text" name="imageUrl" placeholder="상품 이미지 주소 입력">
  </p>
  <p>
    <input type="submit" value="상품 등록하기">
  </p>
</form>

</body>
</html>