<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<nav>
  <ul>
    <li><a th:href="@{/products}">전체 상품 조회하기</a></li>
    <li><a th:href="@{/products/new}">상품 등록하기</a></li>
  </ul>
</nav>

<table>

  <thead>
  <tr>
    <th>상품ID</th>
    <th>상품명</th>
    <th>가격</th>
    <th>이미지</th>
  </tr>
  </thead>

  <tbody>
  <tr th:each="product : ${productList}">
    <td th:text="${product.id}"></td>
    <td th:text="${product.name}"></td>
    <td th:text="${product.price}"></td>
    <td><img th:src="${product.imageUrl}" width="100px" alt = "상품 이미지"></td>

    <!--pathvariable-->
    <td><button th:onclick="|location.href='@{/products/remove/{id}(id=${product.id})}'|">상품 삭제</button></td>

    <!---->
    <td><button th:onclick="|location.href='@{/products/(id=${product.id})}'|">상품 수정</button></td>

  </tr>
  </tbody>
</table>

</body>
</html>