<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<table>

  <thead>
  <tr>
    <th>상품ID</th>
    <th>상품명</th>
    <th>가격</th>
    <th>이미지</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td th:text="${product.id}"></td>
    <td th:text="${product.name}"></td>
    <td th:text="${product.price}"></td>
    <td><img th:src="${product.imageUrl}" width="100px" alt = "상품 이미지"></td>

    <!--PathVariable-->
    <td><button th:onclick="|location.href='@{/products/remove/{id}(id=${product.id})}'|">상품 삭제</button></td>

    <!--RequestParam-->
    <td><button th:onclick="|location.href='@{/products/modify(id=${product.id})}'|">상품 수정</button></td>

  </tr>
  </tbody>
</table>

</body>
</html>